DATABASE_URL=postgres://postgres:postgres@localhost:5432/ingestion?sslmode=disable
REDIS_ADDR=localhost:6379

ALCHEMY_BASE_URL=http://localhost:8080/alchemy
ALCHEMY_API_KEY=test

MORALIS_BASE_URL=http://localhost:8080/moralis
MORALIS_API_KEY=test

RATE_LIMIT_ALCHEMY_RPS=20
RATE_LIMIT_MORALIS_RPS=10

USE_API_MOCKS=true
HTTP_PORT=8090

# Job Queue Configuration
JOB_QUEUE_SIZE=64

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_TX_INGESTED=TransactionDataIngested
KAFKA_TOPIC_WALLET_TRACKING=WalletTrackingRequested
KAFKA_CONSUMER_GROUP_ID=ingestion-service
